{%block content%}
{%load static%}
{%if request.user.is_authenticated%}
<h1>Daily Meal ({{request.user}})</h1>
{%else%}
<h1>Daily Meal</h1>
{%endif%}
<div id="menu">
    <ul>
      {% if request.user.is_authenticated %}
        {%if request.user.is_superuser%}
        <li><a href="{%url 'create_meal' %}">Create Meal || </a></li>
        <li><a href="{%url 'read_meals' %}">My Created Meals || </a></li>
        <li><a href="{%url 'todays_meal' %}">Today´s Lunch || </a></li>
        <li><a href="{%url 'all_orders' %}">Check Orders || </a></li>
        <li><a href="{%url 'update_schedule' %}">Schedule Slack Message|| </a></li>
        {%else%}
        <li><a href="{%url 'todays_meal' %}">Today´s Lunch || </a></li>
        <li><a href="{%url 'my_orders' %}">My Orders || </a></li>
        {%endif%}
        <li><a href="{%url 'logout_user' %}">Logout</a></li>
      {%else%}
        <p>In order to create orders, please Login</p>
        <li><a href="{%url 'login_user' %}">Login</a></li>
      {%endif%}
    </ul>
  </div>
<hr>

{%endblock%}